
@media (min-width: 992px) {
    .card {
        float: left;
        /* width: max-content;
        height: min-content; */
        margin-left: 30px;
        margin-right: 60px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        
    }

    .subtitleSpace {
        padding-top: 10px;
        margin:-3px; 
    }

    /* .textSpace {
        margin-top:40px; 
    } */

    .buttonSpace { 
        margin-top: 30px;
    }

    .link, .link:hover, .link:focus, .link:active {
        text-decoration: none;
        color: inherit;
    }
}

@media (max-width: 462px) {
    .card {
        float: left;
        width: "22rem";
        height: "2rem";
        margin-left: 30px;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
    }
    
    .subtitleSpace {
        margin:-3px; 
    }
    
    .textSpace {
        margin-top:40px; 
    }
    
    .buttonSpace { 
        margin-top: 35px;
    }
    
    .link, .link:hover, .link:focus  {
        text-decoration: none;
        color: inherit;
    }
}
