@media (min-width: 992px) {
    .image1 {
        margin-left: 320px;
    }

    .image2 {
        margin-left: 620px;
    }

    .card {
        display: flex;
        flex-direction: column;
        /* padding-top: 75px; */
    }

    .websiteBackground {
        background-color: lightgray;
    }

    .socialsTitle {
        padding-top: 75px;
        background-color: rgb(82, 80, 80); 
        color: rgb(243, 235, 235);
        font-size: 150px;
    }
}

@media (max-width: 462px) {
    .image1 {
        margin-left: 320px;
    }
    
    .image2 {
        margin-left: 620px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        /* padding-top: 75px; */
    }
    
    .websiteBackground {
        background-color: lightgray;
    }
    
    .socialsTitle {
        padding-top: 75px;
        background-color: rgb(82, 80, 80); 
        color: rgb(243, 235, 235);
        font-size: 60px;
    }
    
}

