@media (min-width: 992px) {
    /* .image1 {
        margin-left: 320px;
    }

    .image2 {
        margin-left: 620px;
    } */

    .card {
        display: flex;
        flex-direction: column;
        margin-top: 95px;
        /* padding-top: 75px; */
    }

    .websiteBackground {
        background-color: lightgray;
    }

    .imageWidth {
        margin-left: 20px;
        padding-top: 30px;
        padding-right: 50px;
        width: 500px;
        height: 200px;
    }

    .socialsTitle {
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521); 
        color: rgb(255, 255, 255);
        font-size: 150px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .image1 {
        margin-left: 320px;
    }
    
    .image2 {
        margin-left: 620px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        /* padding-top: 75px; */
    }

    .imageWidth {
        margin-left: 20px;
        padding-top: 5px;
        width: 260px;
        height: 250px;
    }
    
    .websiteBackground {
        background-color: lightgray;
    }
    
    .socialsTitle {
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521); 
        color: rgb(255, 255, 255);
        font-size: 60px;
    }
}

@media (min-width: 463px) and (max-width: 767px) {
    .image1 {
        margin-left: 320px;
    }
    
    .image2 {
        margin-left: 620px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        /* padding-top: 75px; */
    }

    .imageWidth {
        margin-left: 20px;
        padding-top: 5px;
        width: 550px;
        height: 250px;
    }
    
    .websiteBackground {
        background-color: lightgray;
    }
    
    .socialsTitle {
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521); 
        color: rgb(255, 255, 255);
        font-size: 60px;
    }
}

@media (max-width: 462px) {
    .image1 {
        margin-left: 320px;
    }
    
    .image2 {
        margin-left: 620px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        /* padding-top: 75px; */
    }

    .imageWidth {
        margin-left: 20px;
        padding-top: 5px;
        width: 350px;
        height: 250px;
    }
    
    .websiteBackground {
        background-color: lightgray;
    }
    
    .socialsTitle {
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521); 
        color: rgb(255, 255, 255);
        font-size: 60px;
    }
    
}

