
@media (min-width: 992px) {


h1 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
}

.experienceTitle {
    padding-top: 75px;
    background-color: rgb(82, 80, 80);
    color: rgb(243, 235, 235);
    font-size: 150px;
}

.flex {
    display: flex;
    flex-direction: row;
    padding-bottom: 195px;
}

.websiteBackground {
    background-color: lightgray;
    padding-bottom: 265px;
    }
}

@media (max-width: 462px) {
    h1 {
        text-align: center;
        padding-top: 120px;
        padding-bottom: 100px;
    }
    
    .experienceTitle {
        padding-top: 75px;
        background-color: rgb(82, 80, 80);
        color: rgb(243, 235, 235);
        font-size: 60px;
    }
    
    .flex {
        padding-bottom: 15px;
        display:inline-block;  /*using this for displaying the cards to not cause border problems with the next title */
        /* flex-direction: row; */
    }
    
    .websiteBackground {
        background-color: lightgray;
        padding-bottom: 15px;
    }
}
