@media (min-width: 992px) {
    .aboutMe {
        padding-bottom: 50px;
    }

    /* .websiteBackground {
        background-color: lightgray;
    } */

    .aboutMeTitle {
        /* padding-top: 75px; */
        background-color: rgba(29, 117, 175, 0.521);
        color: rgb(252, 250, 250);
        font-size: 150px;
    }

    .aboutMeContent {
        padding-top: 150px;
        padding-bottom: 200px;
        /* background-color: red; */
    }

    p {
        padding-top: 70px;
    }

    h1 {
        text-align: center;
        /* padding-top: 120px; */
        /* padding-bottom: 100px; */
    }
}

@media (min-width: 463px) and (max-width: 991px) {
    .aboutMe {
        padding-bottom: 50px;
    }
    
    .websiteBackground {
        background-color: lightgray;
    }
    
    .aboutMeTitle {
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521);
        color: rgb(243, 235, 235);
        font-size: 80px;
        text-align: center;
    }
    
    .aboutMeContent {
        padding-top: 25px;
    }
    
    p {
        margin-top: 70px;
    }
}

@media (max-width: 462px) {
    .aboutMe {
        padding-bottom: 50px;
    }
    
    .websiteBackground {
        background-color: lightgray;
    }
    
    .aboutMeTitle {
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521);
        color: rgb(243, 235, 235);
        font-size: 60px;
    }
    
    .aboutMeContent {
        padding-top: 25px;
    }
    
    p {
        margin-top: 70px;
    }


}
