@media (min-width: 992px) {
.projectTitle{
    padding-top: 75px;
    background-color: rgba(29, 117, 175, 0.521);
    color: rgb(255, 255, 255);
    font-size: 150px;
}

.proj {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
}

.websiteBackground {
    background-color: lightgray;
    padding-bottom: 200px;
}

}

@media (min-width: 463px) and (max-width: 991px) {
    .projectTitle{
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521);
        color: rgb(255, 255, 255);
        font-size: 80px;
    }
    
    .proj {
        padding-top: 3px;
        /* display: flex;
        flex-direction: row; */
        display:inline-block; 
    }
    
    .websiteBackground {
        background-color: lightgray;
        padding-bottom: 200px;
    }
}


@media (max-width: 462px) {
    .projectTitle{
        padding-top: 75px;
        background-color: rgba(29, 117, 175, 0.521);
        color: rgb(255, 255, 255);
        font-size: 60px;
    }
    
    .proj {
        padding-top: 3px;
        /* display: flex;
        flex-direction: row; */
        display:inline-block; 
    }
    
    .websiteBackground {
        background-color: lightgray;
        padding-bottom: 200px;
    }
}
